<div class="side-nav">
    <button mat-flat-button color="primary" (click)="navigateTo('departments')">Abteilungen</button>
    <mat-divider></mat-divider>
    <button mat-flat-button color="primary" (click)="navigateTo('employees')">Mitarbeiter</button>
    <mat-divider></mat-divider>
    <button mat-flat-button color="primary" (click)="navigateTo('projects')">Projekte</button>
    <mat-divider></mat-divider>
    <button mat-flat-button color="primary" (click)="navigateTo('admin')">Admin</button>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
