<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput [(ngModel)]="data.project.projectNumber" [disabled]="data.edit" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="data.project.status">
                <mat-option *ngFor="let status of statuses" [value]="status">
                    {{ status }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Abbrechen</button>
    <button mat-button [mat-dialog-close]="data.project">Speichern</button>
</div>
